body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1524px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:2739px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1524px;
  height:2739px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1362px;
  width:1520px;
  visibility:hidden;
  word-wrap:break-word;
}
